.home-container {
    display: grid;
    grid-template-columns: 4fr 0fr;

    background-color: honeydew;

}





.group-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 100px;
    margin-top: 100px;
    margin-right: 100px;
}

